<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="staff_display.php" />
            </files>
        </defaultDocument>
        <httpErrors existingResponse="PassThrough" />
        <rewrite>
            <rules>
                <rule name="Redirect staff_display2" stopProcessing="true">
                    <match url="^staff_display2\.php$" />
                    <action type="Redirect" url="staff_display.php" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
